/*
 * @Author: Siwen
 * @LastEditors: Siwen
 * @Date: 2019-03-28 16:45:20
 * @LastEditTime: 2019-03-28 17:23:53
 * @Description: 颜色变量
 */
$BrandColor: #409EFF;
$Success: #67C23A;
$Warning: #E6A23C;
$Danger: #F56C6C;
$Info: #909399;
$bg-eee:#eeeeee;


$text333: #333333;
$text999: #999999;

